@use '../../styles/variables';
@use '../../styles/container';

.product-container {
  h2 {
    font-size: variables.$font-size-header-h2;
    margin-bottom: 0px;
  }

  .price {
    font-size: variables.$font-size-base;
    font-weight: bold;
    color: variables.$bg-button;
  }

  .img-fluid {
    border-radius: 1rem;
  }

  .variants {
    .color-dot {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      border: 2px solid #ccc;
      cursor: pointer;
      transition: all 0.2s ease;

      &.selected {
        border-color: variables.$bg-button;
        box-shadow: 0 0 0 2px variables.$bg-button inset;
      }

      &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }
  }

  .option-header {
    font-size: .8rem;
    font-weight: bold;
  }

  .review-form {
    input, textarea, select {
      font-size: variables.$font-size-small;
    }
  }

  .review {
    background-color: variables.$bg-secondary;
    padding: 1rem;
    border-radius: 0.75rem;
    box-shadow: variables.$shadow;
  }

  .author {
    font-size: 0.85rem;
    color: variables.$text-muted;
    margin-top: 0.5rem;
  }
}

.review-summary {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  .star-icon {
    color: #f8d64e;
    font-size: 1rem;
  }

  .rating-text {
    margin-top: .19rem;
    margin-left: .19rem;
    color: #9e9e9e;
    font-size: 0.8rem;
  }
}

